# ---------------------------------------------------------------- #
# INSTANCE INFRASTRUCTURE — PRODUCTION EXAMPLE
# Copy to .env.prod and fill in your values.
# This file IS committed to version control.
# NEVER use these placeholder values in production.
# ---------------------------------------------------------------- #

# MongoDB
MONGO_USER=elo-admin-prod
MONGO_PASSWORD=ZPvKnO43JrAwIzl3
MONGO_DB_NAME=elo-prod-db

# Admin User Seed (used on first deployment only)
ADMIN_USER_SEED=eloadminprod
ADMIN_EMAIL_SEED=adminprod@gmail.com
ADMIN_PASS_SEED=prod47913@

# Environment Mode (prod or staging)
APP_ENV=prod

