# ---------------------------------------------------------------- #
#  Elo Orgânico - GitHub Actions Environment Variables Template
# ---------------------------------------------------------------- #
# Rename this file to '.env.actions.variables' and populate your variables.
# Do NOT commit '.env.actions.variables' to source control (it is ignored).

# Environment designation (production, staging, development, etc.)
NODE_ENV=production
