# Build & Runtime
sources/
three/
node_modules/
dist/
*.tsbuildinfo

# Ignore all image formats (makes repository lighter, assets will be migrated to cloud)
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.svg
**/*.ico
**/*.bmp

# Ignore all 3D and Blender formats
**/*.gltf
**/*.glb
**/*.fbx
**/*.obj
**/*.blend
**/*.blend1
**/*.dae
**/*.stl
**/*.3ds