# ---------------------------------------------------------------- #
#  Elo Orgânico - GitHub Codespaces Environment Variables Template
# ---------------------------------------------------------------- #
# Rename this file to '.env.codespaces.variables' and populate your variables.
# Do NOT commit '.env.codespaces.variables' to source control (it is ignored).

# Example of a Codespaces-specific variable
# CODESPACES_MY_VAR=some_value
