# ---------------------------------------------------------------- #
#  Elo Orgânico - GitHub Dependabot Environment Variables Template
# ---------------------------------------------------------------- #
# Rename this file to '.env.dependabot.variables' and populate your variables.
# Do NOT commit '.env.dependabot.variables' to source control (it is ignored).

# Example of a Dependabot-specific variable
# DEPENDABOT_MY_VAR=some_value
