@import '@elo-organico/studio/tokens.css' layer(theme);

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: var(--color-label-light);
  position: relative;
  z-index: 1;
  width: 100%;
}

.content {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.content h1 {
  color: var(--color-background-shade);
  font-size: 6vh;
  margin: 1rem;
}
.content > div:nth-of-type(1) {
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: start;
}

.content > div:nth-of-type(1) > div {
  height: 25vh;
  width: auto;
  margin: 1rem;
  padding: 2rem;
  background: var(--color-background-shade);
  border-radius: 0.8rem;
}

.content > div:nth-of-type(1) > div h2 {
  color: var(--color-label-light);
}
.content > div:nth-of-type(1) > div p {
  color: var(--color-body-light);
}
