# ---------------------------------------------------------------- #
#  Elo Orgânico - GitHub Codespaces Environment Secrets Template
# ---------------------------------------------------------------- #
# Rename this file to '.env.codespaces.secrets' and populate your secret keys.
# Do NOT commit '.env.codespaces.secrets' to source control (it is ignored).

# Example of a Codespaces-specific secret
# CODESPACES_MY_SECRET=some_secret_value
