# ---------------------------------------------------------------- #
#  Elo Orgânico - GitHub Actions Environment Secrets Template
# ---------------------------------------------------------------- #
# Rename this file to '.env.actions.secrets' and populate your secret keys.
# Do NOT commit '.env.actions.secrets' to source control (it is ignored).

# GitHub Personal Access Token (PAT) with 'repo' and 'workflow' scopes
DNS_REGISTRY_PAT=ghp_your_personal_access_token_here
