.container {
  height: 85vh;
  width: 80vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container > section {
  width: 50%;
  height: 100%;
}
